<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle
      Name="PictureTransformer"
      Manufacturer="PictureTransformer"
      Version="1.0.8"
      IconSourceFile="..\..\png.ico"
      UpgradeCode="14A321DB-BE35-445C-8CC3-F5851515013C">

    <Variable Name="InstallFolder" Type="string" Value="" bal:Overridable="yes" />
    <Variable
        Name="AddToPath"
        Type="numeric"
        Value="1"
        bal:Overridable="yes" />

    <BootstrapperApplication SourceFile="..\Bootstrapper\bin\Release\net10.0-windows\win-x64\publish\PictureTransformer.SetupUI.exe">
      <PayloadGroupRef Id="PictureTransformer.SetupUI.Payloads" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage
          Id="PictureTransformerPackage"
          SourceFile="$(var.PictureTransformer.Package.TargetPath)"
          Vital="yes"
          Visible="no">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
        <MsiProperty Name="ADDTOPATH" Value="[AddToPath]" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
