<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle
      Name="PictureTransformer"
      Manufacturer="PictureTransformer"
      Version="1.0.4"
      UpgradeCode="14A321DB-BE35-445C-8CC3-F5851515013C">

    <Variable
        Name="InstallFolder"
        Type="formatted"
        Value="[ProgramFiles64Folder]PictureTransformer"
        bal:Overridable="yes" />

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
          Theme="hyperlinkLicense"
          LicenseUrl=""
          ShowVersion="yes"
          SuppressOptionsUI="no" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage
          Id="PictureTransformerPackage"
          SourceFile="$(var.PictureTransformer.Package.TargetPath)"
          Vital="yes"
          Visible="no">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
